@media only screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
}

p,
li {
    font-size: 1.6rem;
}

@media only screen and (max-width: 576px) {
    p {
        margin-bottom: 0;
    }
}
