.title {
    font-size: 2rem;
}

.dropdown-menu:focus,
button.dropdown-item:focus {
    outline: none;
    border: none;
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 576px) {
    .breadcrumb-container {
        flex-direction: column;
    }
}
